{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>To Do List {% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">To Do List</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="{% static 'assets/img/profile-img.jpg'%}" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block ps-2">{{user}}</span>
                </a><!-- End Profile Iamge Icon -->
    
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                  <li class="dropdown-header">
                    <h6>{{user}}</h6>
                    <span>Web Designer</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
        
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url "index" %}">
                      <i class="bi bi-person"></i>
                      <span>My Tasks</span>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
                </ul>
            </li><!-- End Profile Nav -->
        </ul>
    </nav>

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Main Page</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'display' display_type='complete' %}">
            <i class="bi bi-layout-text-window-reverse"></i><span>
            <span>Completed</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'display' display_type='pending' %}">
            <i class="bi bi-layout-text-window-reverse"></i><span>
            <span>Active</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  {% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>My To Do List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h5 class="text-center card-title">Create Your Own Task</h5>

              <!-- General Form Elements -->
              <form method="POST" action="{% url "create" %}">
                {% csrf_token %} 
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Enter Task Here</label>
                  <div class="col-sm-10">
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>

                <div class="d-grid gap-2 mt-3">
                  <button type="submit" class="btn btn-primary">Create Task</button>
                </div>

              </form><!-- End General Form Elements -->

            </div>

        </div>
      </div>
    </section>

    <!-- Status notifications-->
    {% if create_status or delete_status or update_status_status %}
      <div class = "alert alert-success bg-success text-light border-0 alert-dismissable fade show" role="alert">
        {% if create_status %}{{create_status}}{% elif update_status_status %}{{update_status_status}}
        {% else %}{{delete_status}}{% endif %} 
      </div>
    {% elif create_error %}
      <div class = "alert alert-danger bg-danger text-light border-0 alert-dismissable fade show" role="alert">
        {{create_error}}
      </div>
    {% endif %}

    <!-- Show Tasks Section -->
    <!-- Dirty Fix, Need to check JS to fix-->
    <section class="section">
      <div class="row">
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="card-body">
            <h5 class="card-title">Tasks</h5>

            <table class="table table-hover datatable searchable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Mark Status</th>
                  <th>Delete Task</th>
                  <th data-hidden="True">search fix</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                  <td><div class="text-primary">{{task.name}}</div></td>
                  <td><span class="badge {% if task.status == 'complete' %}bg-success{% else %}bg-warning{% endif %}">{{task.status}}</span></td>
                  
                  <!-- Update Status -->
                  <td>
                    <form action="{% url "status" task.id %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="status_value" value="{% if task.status == "complete" %}pending{% else %}complete{% endif %}">
                      <input type="checkbox" name="status" {% if task.status == "complete" %}checked{% endif %} onchange= "this.form.submit()">
                    </form>
                  </td>

                  <!-- Delete Task-->
                  <td>
                    <form action="{% url "delete" task.id %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Delete">
                    </form>
                  </td>

                  <td>search fix</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          </div>
        </div>
      </div>
    </div>
    </section>

  {% endblock %}

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js'%}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>